* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 393px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #ffffff;
}

/* サンプル画像 */

.sunple-desc {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 393px;
    z-index: 9999;
}

.sunple-img {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 393px;
    z-index: 9999;
}
.model {
    width: 100%;
    height: auto;
}

/*　メイン */

.product-img {
    width: 100%;
    height: auto;
    display: block;
}
.product-info {
    padding: 25px 20px;
    border-bottom: #3e3e3e;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #1e3932;
    color: #ffffff;
}

.product-name {
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 800;
}

.product-type {
    font-size: 14px;
    color: #e4e4e4;
}

.main-price {
    font-size: 27px;
    letter-spacing: 0.05em; 
    display: flex;
    gap: 14px;
}

.sub-prices {
    display: flex;
    font-size: 13px;
    gap: 20px;
    color: #e4e4e4;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.button button {
    width: 65%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background-color: #00A862;
}

.product-notes {
    font-size: 11px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #79918A;
}

/* 記事 */
.desc-direction {
    padding: 15px 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.desc-label {
    font-size: 13px;
    font-weight: bold;
    line-height: 2;
    color: #a9a8a8;
}

.desc-title {
    font-size: 19px;
    font-weight: bold;
    line-height: 2;
    color: #0e0e0e;
}

.desc-body, .desc-info {
    font-size: 13px;
    color: #1b1b1b;
    line-height: 1.7;
}

.desc-note {
    font-size: 11px;
    color: #232323; 
    line-height: 1.7; 
}


